:root {
    --light: #FFD662FF;
    --dark: #00539CFF;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--dark)
}

main {
    max-width: 1200px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    border: 1px solid var(--light);
}

h1 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 769px) {
    .cards_item {
       width: 50%; 
    }
    .focus {
        width: 100%;
    }
}

.card {
    background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img.screenshot {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.card-content h2 {
    color: var(--light);
    font-size: 24px;
    font-weight: 400;
}

.card-content p {
    color: var(--light);
    text-transform: uppercase;
    font-weight: 400;
}