:root {
    --light: #FFD662FF;
    --dark: #00539CFF;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--dark)
}

main {
    max-width: 1200px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}