* {
    box-sizing: border-box;
}

.personal {
   display: flex;
   flex-direction: column;
   align-items: center;
}

header img {
    height: 200px;
    width: 200px;
}

h1 {
    text-align: center;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.cards {
    display: flex;
    flex-wrap: wrap;
}

figure {
    height: 200px;
    width: 200px;
    background-color: blue;
}